<div>
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <button class="menu-button" mat-icon-button fxHide.gt-sm (click)="onClickBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title" translate>Entry SPAJ</span>
  </mat-toolbar>
  <div matLine class="page-esub-header">
    <div class="block-title first" (click)="onClickBack()">
      <span class="number">3</span>
      <span>Tertanggung</span>
    </div>
    <div class="block-title second" (click)="onClickNext()">
      <!--<div class="arrow-right">-->
      <!--</div>-->
      <span class="number">4</span>
      <span>Pengiriman Polis</span>
    </div>
  </div>
  <div class="form-container">
    <div>
      <mat-list>
        <mat-card-content *ngFor="let insured of insureds; let i = index">
          <div class="form-group-header" translate>Tertanggung {{ insured.no }}</div>
          <mat-form-field [floatLabel]="'always'">
            <mat-label translate>Name</mat-label>
            <input
              matInput
              [(ngModel)]="insureds[i].nama"
              [value]="insureds[i].nama"
              (change)="nameWarnings[i] = ''"
              [disabled]="i == 0"
            />
            <div translate style="color: red; font-size: smaller">{{ nameWarnings[i] }}</div>
          </mat-form-field>
          <mat-form-field [floatLabel]="'always'">
            <mat-label translate>Tanggal Lahir</mat-label>
            <input
              matInput
              [(ngModel)]="birthdates[i]"
              [value]="birthdates[i]"
              [matDatepicker]="picker1"
              (click)="picker1.open()"
              (dateChange)="insureds[i].tgl_lahir = moment(birthdates[i]).format('DD-MM-YYYY'); dateWarnings[i] = ''"
              [placeholder]="'Tanggal Lahir' | translate"
            />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            <div translate style="color: red; font-size: smaller">{{ dateWarnings[i] }}</div>
          </mat-form-field>
          <mat-form-field [floatLabel]="'always'">
            <mat-label>{{ 'Hubungan Keluarga' | translate }}</mat-label>
            <mat-select
              [(ngModel)]="insureds[i].hubungan"
              [value]="insureds[i].hubungan"
              (selectionChange)="onClickRelationships(i + 1, $event.value, true); relationsWarnings[i] = ''"
            >
              <mat-option *ngFor="let relationship of relationships[i]" [value]="relationship.label">{{
                relationship.label
              }}</mat-option>
            </mat-select>
            <div translate style="color: red; font-size: smaller">{{ relationsWarnings[i] }}</div>
          </mat-form-field>
        </mat-card-content>
      </mat-list>
      <button
        *ngIf="insureds.length < limitInsured"
        mat-raised-button
        (click)="onClickAdd()"
        style="float: right; right: 10px; background-color: purple; color: white"
      >
        <b translate>{{ 'Tambah' | translate }}</b>
      </button>
    </div>
  </div>
  <div style="width:100%; text-align: center;  bottom: 0px; padding: 0px; position: fixed;">
    <button mat-raised-button color="primary" style="width:100%;" (click)="onClickNext()">
      <b translate>Selanjutnya</b>
    </button>
  </div>
</div>
