<!--<h1 mat-dialog-title>Hi {{data.title}}</h1>-->
<div mat-dialog-content>
  <h3 mat-line style="text-align: center;color:red">{{ data.title }}</h3>
  <p mat-line style="text-align: center;">{{ data.message }}</p>
</div>
<div mat-dialog-actions>
  <button [mat-dialog-close]="data.message" cdkFocusInitial mat-raised-button color="primary" type="submit">Ok</button>
</div>
