<div>
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <button class="menu-button" mat-icon-button fxHide.gt-sm (click)="onClickBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title" translate>Entry SPAJ</span>
  </mat-toolbar>
  <div matLine class="page-esub-header">
    <div class="block-title first">
      <span class="number">1</span>
      <span>Produk</span>
    </div>
    <div class="block-title second" (click)="onClickNext()">
      <span class="number">2</span>
      <span>Pemegang Polis</span>
    </div>
  </div>
  <form (ngSubmit)="onClickNext()" [formGroup]="productForm" novalidate>
    <div class="form-container">
      <mat-card-content>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Produk</mat-label>
          <mat-select
            [(ngModel)]="trxSubmission.esubmission.produk"
            [value]="trxSubmission.esubmission.produk"
            (selectionChange)="onClickProduct($event.value)"
            [placeholder]="'Pilih Produk' | translate"
            formControlName="productSelect"
            #productSelect
            required
          >
            <mat-option *ngFor="let product of products" [value]="product.name">
              {{ product.name }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.controls.productSelect.invalid">
            <span translate>Produk harus diisi</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Paket</mat-label>
          <mat-select
            [(ngModel)]="trxSubmission.esubmission.pilihan_paket"
            [value]="trxSubmission.esubmission.pilihan_paket"
            [placeholder]="'Pilih Paket' | translate"
            formControlName="packageSelect"
            #packageSelect
            required
          >
            <mat-option *ngFor="let packaze of packazes" [value]="packaze.unit_name">
              {{ packaze.unit_name + ' - ' + (packaze.total_premium | currency: 'IDR':'Rp. ') }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="productForm.controls.packageSelect.invalid">
            <span translate>Paket harus diisi</span>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content
        style="margin-left: 12px; margin-right: 12px; margin-bottom: 100px"
        *ngIf="trxSubmission.esubmission.produk != null && trxSubmission.esubmission.produk != ''"
      >
        <mat-label style="margin-bottom: 12px" translate>Info Produk</mat-label>
        <img
          width="100%"
          style="width: 100%"
          class="round-image"
          src="assets/info-product/Product_BA_Keluarga_Indonesia_Page_1.png"
        />
        <img
          width="100%"
          style="width: 100%"
          class="round-image"
          src="assets/info-product/Product_BA_Keluarga_Indonesia_Page_2.png"
        />
        <img
          width="100%"
          style="width: 100%"
          class="round-image"
          src="assets/info-product/Product_BA_Keluarga_Indonesia_Page_3.png"
        />
        <img
          width="100%"
          style="width: 100%"
          class="round-image"
          src="assets/info-product/Product_BA_Keluarga_Indonesia_Page_4.png"
        />
      </mat-card-content>
    </div>
    <div style="width:100%; text-align: center;  bottom: 0px; padding: 10px; position: fixed">
      <button mat-raised-button color="primary" style="width:100%;" type="submit" [disabled]="productForm.invalid">
        <b translate>Selanjutnya</b>
      </button>
    </div>
  </form>
</div>
