<div>
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <button class="menu-button" mat-icon-button fxHide.gt-sm (click)="onClickBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title" translate>Entry SPAJ</span>
  </mat-toolbar>
  <div matLine class="page-esub-header">
    <div class="block-title first" (click)="onClickBack()">
      <span class="number">4</span>
      <span>Pengiriman Polis</span>
    </div>
    <div class="block-title second" (click)="onClickNext()">
      <!--<div class="arrow-right">-->
      <!--</div>-->
      <span class="number">5</span>
      <span>Preview Data</span>
    </div>
  </div>
  <div class="form-group-header" translate>
    Pengiriman Polis *
  </div>
  <div class="form-container">
    <form (ngSubmit)="onClickNext()" [formGroup]="polisDeliveryForm" novalidate>
      <mat-card-content>
        <p style="margin-left: 10px; font-size: 12px; font-weight: bold; color: #666666" translate>
          Polis Dikirim Melalui
        </p>
        <mat-radio-button
          style="width: 10%;"
          (click)="onSelectEmail()"
          [checked]="esubmission.pilihan_cetak == 'EE'"
        ></mat-radio-button>
        <mat-form-field [floatLabel]="'always'" style="width: 85%">
          <mat-label translate>Email</mat-label>
          <input
            matInput
            type="email"
            formControlName="email"
            [value]="esubmission.epolicy_email"
            [(ngModel)]="esubmission.epolicy_email"
            (click)="onSelectEmail()"
            [disabled]="esubmission.pilihan_cetak != 'EE'"
          />
          <mat-error *ngIf="polisDeliveryForm.controls.email.invalid && polisDeliveryForm.controls.email.touched">
            <span translate>Email tidak valid</span>
          </mat-error>
        </mat-form-field>
        <mat-radio-button style="width: 10%;" (click)="onSelectSMS()" [checked]="esubmission.pilihan_cetak == 'ES'">
        </mat-radio-button>
        <mat-form-field [floatLabel]="'always'" style="width: 85%">
          <mat-label translate>SMS</mat-label>
          <input
            matInput
            type="number"
            formControlName="sms"
            [value]="esubmission.epolicy_sms"
            [(ngModel)]="esubmission.epolicy_sms"
            (click)="onSelectSMS()"
            [disabled]="esubmission.pilihan_cetak != 'ES'"
            (input)="onEditNoHandphone($event.target.value)"
          />
          <mat-error
            *ngIf="
              (polisDeliveryForm.controls.sms.invalid && polisDeliveryForm.controls.sms.touched) ||
              polisDeliveryForm.hasError('invalidMobilePhone')
            "
          >
            <span translate>No Handphone</span>
          </mat-error>
          <div translate style="color: red; font-size: smaller">{{ polisDeliveryWarning }}</div>
        </mat-form-field>
      </mat-card-content>
    </form>
  </div>
  <div style="width:100%; text-align: center;  bottom: 0px; padding: 10px; position: absolute">
    <button
      mat-raised-button
      color="primary"
      style="width:100%;"
      (click)="onClickNext()"
      [disabled]="polisDeliveryForm.invalid"
    >
      <b translate>Selanjutnya</b>
    </button>
  </div>
</div>
