<div>
  <img class="batik-top-right" src="assets/batik-right.png" alt="angular logo" />
  <div fxFill fxLayout="column" class="container">
    <div class="login-logo-container">
      <div>
        <img class="login-logo" src="assets/drawable-xxxhdpi-icon.png" alt="angular logo" />
      </div>
    </div>
    <div class="login-container" fxLayout="row" fxLayoutAlign="center">
      <mat-card-content fxFlex="80%" fxFlex.sm="66%" fxFlex.md="50%" fxFlex.gt-md="33%" class="login-box">
        <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
          <div class="login-error" [hidden]="!error" translate>
            Username or password incorrect.
          </div>
          <br />
          <div class="login-fields" fxLayout="column">
            <mat-form-field [hideRequiredMarker]="true" appearance="outline">
              <input
                type="text"
                matInput
                formControlName="username"
                autocomplete="username"
                [placeholder]="'Kode Agen' | translate"
                required
              />
              <!--value="141773"-->

              <mat-error *ngIf="loginForm.controls.username.invalid && loginForm.controls.username.touched">
                <span translate>Kode agen harus diisi</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field [hideRequiredMarker]="true" appearance="outline">
              <input
                type="password"
                matInput
                formControlName="password"
                autocomplete="current-password"
                [placeholder]="'Kata Kunci' | translate"
                [minLength]="2"
                required
              />
              <!--value="Password123??"-->
              <mat-error *ngIf="loginForm.controls.password.invalid && loginForm.controls.password.touched">
                <span translate>{{
                  loginForm.controls.password.hasError('minLength')
                    ? 'Kata kunci harus diisi miminal 3 karakter'
                    : 'Kata kunci harus diisi'
                }}</span>
              </mat-error>
            </mat-form-field>
            <!--<mat-slide-toggle color="primary" formControlName="remember" translate>Remember me</mat-slide-toggle>-->
            <br />
            <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid" style="height: 50px">
              <span translate>Masuk</span>
            </button>
            <br />
            <mat-label
              color="primary"
              style="text-align: center; color: orange;"
              onclick="window.open('https://blat-dev.bhinnekalife.com/forgotpassword/reset-password', '_system');"
            >
              <b>Lupa kata kunci ?</b>
            </mat-label>
          </div>
        </form>
      </mat-card-content>
      <mat-label
        color="primary"
        style="width:100%;
            text-align: center;
            color: gray; bottom: 20px; position: fixed"
      >
        <b translate>Versi {{ versionName() }}</b>
      </mat-label>
    </div>
  </div>
  <img class="batik-bottom-left" src="assets/batik-left.png" alt="angular logo" />
</div>
