@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #fafafa;
  height: 100vh;
}

.container {
  padding: 0em;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}
.login-container,
.mat-form-field {
  width: 100%;
  padding: 0px !important;
}
.login-fields > :not(:last-child) {
  //margin-bottom: 8px;
}

.login-logo-container {
  padding: 0em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.batik-bottom-left {
  width: 30%;
  bottom: 0;
  position: fixed;
  justify-content: end;
  align-items: end;
}
.batik-top-right {
  width: 30%;
  right: 0;
  position: fixed;
  justify-content: end;
  align-items: end;
}
.login-logo {
  width: 60%;
  margin: 0 auto;
}

.login-error {
  color: mat-color($app-warn);
}
