<div>
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <button class="menu-button" mat-icon-button fxHide.gt-sm (click)="onClickBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title" translate>Entry SPAJ</span>
  </mat-toolbar>
  <div matLine class="page-esub-header">
    <div class="block-title first" (click)="onClickBack()">
      <span class="number">5</span>
      <span>Preview Data</span>
    </div>
    <div class="block-title second" (click)="onClickNext()">
      <!--<div class="arrow-right">-->
      <!--</div>-->
      <span class="number">6</span>
      <span>Preview Brosur</span>
    </div>
  </div>
  <mat-card>
    <div class="expander-container" (click)="toggleDisclaimer1()">
      <span matLine style="float: left">Ringkasan SPAJ</span>
      <mat-icon style="float: right;">expand_more</mat-icon>
    </div>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel [expanded]="expandDisclaimer1Mode">
          <mat-form-field [floatLabel]="'always'">
            <mat-label translate>Name</mat-label>
            <input matInput [disabled]="true" [value]="trxSubmission.esubmission.nama_pempol" />
          </mat-form-field>
          <mat-form-field [floatLabel]="'always'">
            <mat-label translate>No KTP</mat-label>
            <input matInput [disabled]="true" [value]="trxSubmission.esubmission.no_ktp" />
          </mat-form-field>
          <mat-form-field [floatLabel]="'always'">
            <mat-label translate>Alamat</mat-label>
            <input
              matInput
              [disabled]="true"
              [value]="
                trxSubmission.esubmission.alamat +
                ' ' +
                trxSubmission.esubmission.kelurahan +
                ' ' +
                trxSubmission.esubmission.kecamatan +
                ' ' +
                trxSubmission.esubmission.kota +
                ' ' +
                trxSubmission.esubmission.propinsi
              "
            />
          </mat-form-field>
          <mat-form-field [floatLabel]="'always'">
            <mat-label translate>No Handphone</mat-label>
            <input matInput [disabled]="true" [value]="trxSubmission.esubmission.no_hp" />
          </mat-form-field>
          <mat-form-field [floatLabel]="'always'">
            <mat-label translate>Penghasilan Per Tahun</mat-label>
            <input matInput [disabled]="true" [value]="trxSubmission.esubmission.penghasilan_per_tahun" />
          </mat-form-field>

          <div class="example-container mat-elevation-z8">
            <div class="example-table-container">
              <table
                mat-table
                [dataSource]="insureds"
                class="example-table"
                matSort
                matSortActive="created"
                matSortDisableClear
                matSortDirection="desc"
              >
                <!-- Number Column -->
                <ng-container matColumnDef="fullname">
                  <th mat-header-cell *matHeaderCellDef>Nama Lengkap Sesuai KK</th>
                  <td mat-cell *matCellDef="let row">{{ row.nama }}</td>
                </ng-container>

                <!-- Title Column -->
                <ng-container matColumnDef="birthdate">
                  <th mat-header-cell *matHeaderCellDef>Tanggal Lahir</th>
                  <td mat-cell *matCellDef="let row">{{ row.tgl_lahir }}</td>
                </ng-container>

                <!-- State Column -->
                <ng-container matColumnDef="familyRelationship">
                  <th mat-header-cell *matHeaderCellDef>Hubungan Keluarga</th>
                  <td mat-cell *matCellDef="let row">{{ row.hubungan }}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
              </table>
            </div>
          </div>
          <mat-form-field [floatLabel]="'always'" style="width: 85%">
            <mat-label translate>Polis Dikirim melalui</mat-label>
            <input
              matInput
              type="email"
              [value]="esubmission.pilihan_cetak == 'EE' ? esubmission.epolicy_email : esubmission.epolicy_sms"
              [disabled]="true"
            />
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </mat-card-content>
  </mat-card>
  <form (ngSubmit)="onClickNext()" [formGroup]="agreementForm" novalidate>
    <div
      style="width: 100%;margin-bottom: 100px; padding-left: 10px; padding-right: 10px; text-align: center; color: grey;"
    >
      <p>Disaksikan oleh : Agen</p>
      <p>Tanggal, {{ currentdateString }}</p>
      <mat-card style="background-color: white!important;">
        <signature-pad
          #esignAgent
          [options]="signaturePadOptions"
          (onEndEvent)="agentTakingSignature()"
          style=""
        ></signature-pad>
        <button type="button" (click)="esignAgent.clear()">
          <mat-icon style="float: right;">delete</mat-icon>
        </button>
      </mat-card>

      <p>{{ agentCode }}, {{ agentName }}</p>
      <p>PT Bhinneka Life Indonesia</p>
      <br />
      <p>Pemohon</p>
      <p>Tanggal, {{ currentdateString }}</p>
      <mat-card style="background-color: white!important;">
        <signature-pad
          #esignCustomer
          [options]="signaturePadOptions"
          (onEndEvent)="customerTakingSignature()"
          style=""
        ></signature-pad>
        <button type="button" (click)="esignCustomer.clear()">
          <mat-icon style="float: right;">delete</mat-icon>
        </button>
      </mat-card>
      <p>{{ trxSubmission.esubmission.nama_pempol }}</p>
    </div>
    <div style="width:100%; text-align: center;  bottom: 0px; padding: 10px; position: fixed">
      <button mat-raised-button color="primary" style="width:100%;" type="submit" [disabled]="agreementForm.invalid">
        <b translate>Selanjutnya</b>
      </button>
    </div>
  </form>
</div>
