mat-card {
  margin: 10px;
  background-color: #f44336;
  padding: 0px;
  display: flow-root;
}
mat-card-content {
  padding: 0px;
}
mat-icon {
  color: white;
}
.expander-container {
  width: 100%;
  text-align: right;
  align-content: end;
  display: flow-root !important;
  padding: 10px;
}
.expander-container span {
  color: white;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  line-height: 25px;
}

mat-expansion-panel {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
::ng-deep .mat-expansion-panel-body {
  padding: 16px !important;
}

mat-form-field {
  margin-top: 10px !important;
  margin-bottom: 0px;
  padding: 0px !important;
}

/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-fullname {
  max-width: 424px;
}
