<div>
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <button class="menu-button" mat-icon-button fxHide.gt-sm (click)="onClickBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span translate>Penyortiran & Penyaringan</span>
  </mat-toolbar>
  <div class="form-group-header" translate>
    Penyortiran SPAJ
  </div>
  <mat-card-content>
    <mat-form-field style="width: 48%">
      <mat-select [(value)]="filter.polisFieldFilterId">
        <mat-option *ngFor="let polisFieldFilter of polisFieldFilters" [value]="polisFieldFilter.id">
          {{ polisFieldFilter.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div fxFlex></div>
    <mat-form-field style="width: 48%">
      <mat-select [(value)]="filter.polisFieldFilterDirection">
        <mat-option *ngFor="let direction of directions" [value]="direction.id">
          {{ direction.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <div class="form-group-header" translate>
    Filter SPAJ
  </div>
  <div class="form-label" translate>
    Periode Entri SPAJ
  </div>
  <mat-card-content>
    <mat-form-field [floatLabel]="'never'" style="width: 48%">
      <input
        matInput
        [matDatepicker]="picker1"
        placeholder="Pilih tanggal mulai"
        (click)="picker1.open()"
        [value]="filter.startDate"
        [(ngModel)]="filter.startDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
    <div fxFlex></div>
    <mat-form-field [floatLabel]="'never'" style="width: 48%">
      <input
        matInput
        [matDatepicker]="picker2"
        placeholder="Pilih tanggal akhir"
        (click)="picker2.open()"
        [value]="filter.endDate"
        [(ngModel)]="filter.endDate"
      />
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
  <div class="form-label" translate>
    Nama Produk
  </div>
  <mat-card-content>
    <mat-form-field style="width: 100%;" [floatLabel]="'never'">
      <mat-select [(value)]="filter.productName" placeholder="--Semua--">
        <mat-option *ngFor="let product of products" [value]="product.name">
          {{ product.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <div class="form-label" translate>
    Status SPAJ
  </div>
  <mat-card-content>
    <mat-form-field style="width: 100%;" [floatLabel]="'never'">
      <mat-select [(value)]="filter.status" placeholder="--Semua--">
        <mat-option *ngFor="let spajStatus of spajStatuses" [value]="spajStatus.name">
          {{ spajStatus.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card-content>
  <div
    style="width:100%;
        text-align: center;  bottom: 0px; padding: 10px; position: absolute"
  >
    <button mat-raised-button color="primary" style="width:100%;" (click)="onClickSave()">
      <b translate>Terapkan</b>
    </button>
  </div>
</div>
