<div>
  <img class="batik-top-right" src="assets/batik-right.png" alt="angular logo" />
  <div class="container">
    <div>
      <img class="splash-logo" src="assets/drawable-xxxhdpi-icon.png" alt="angular logo" />
    </div>
  </div>
  <!-- <mat-label
    color="primary"
    style="width:100%;
            text-align: center;
            color: gray; bottom: 20px; position: fixed"
  >
    <b translate>Versi</b>
  </mat-label> -->
  <img class="batik-bottom-left" src="assets/batik-left.png" alt="angular logo" />
</div>
