:host {
  display: flex;
  flex: 1;
  background-color: #fafafa;
  height: 100vh;
}

.container {
  padding: 0em;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-logo {
  width: 60%;
  margin: 0 auto;
}
.batik-bottom-left {
  width: 30%;
  bottom: 0;
  position: fixed;
  justify-content: end;
  align-items: end;
}
.batik-top-right {
  width: 30%;
  right: 0;
  position: fixed;
  justify-content: end;
  align-items: end;
}
