<!--<h1 mat-dialog-title>Hi {{data.title}}</h1>-->
<div mat-dialog-content>
  <h3 mat-line style="text-align: center;color:red">{{ data.title }}</h3>
  <p mat-line style="text-align: center;">{{ data.message }}</p>
</div>
<div matLine mat-dialog-actions>
  <button
    [mat-dialog-close]="data.message"
    cdkFocusInitial
    mat-raised-button
    type="submit"
    (click)="onClickOk()"
    style="background-color: #ff4955; color: white"
  >
    Yas
  </button>
  <button
    [mat-dialog-close]="data.message"
    cdkFocusInitial
    mat-raised-button
    type="submit"
    (click)="onClickCancel()"
    style="background-color: #298027; color: white"
  >
    Tidak
  </button>
</div>
