<div>
  <!--<mat-progress-spinner mode="indeterminate" [strokeWidth]="2" [diameter]="32 * size"></mat-progress-spinner>-->
  <!--<span class="message">{{ message }}</span>-->
  <mat-spinner [diameter]="32"></mat-spinner>
</div>
