@import "~@angular/material/theming";
//@import './app.theme';

:host {
  width: 100%;
  //display: flex;
  //flex: 1;
}

.mat-line .primary-color {
  text-align: center;
  color: mat-color($mat-red) !important;
  background-color: mat-color($mat-red);
}

.mat-toolbar {
  width: 100%;
}
