<div>
  <mat-toolbar
    color="primary"
    class="mat-elevation-z1"
    style="position: fixed; position:relative; display: inline-block;"
  >
    <button class="menu-button" mat-icon-button fxHide.gt-sm (click)="onClickBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title" translate>Pembayaran</span>
  </mat-toolbar>
  <div class="form-container">
    <mat-card-content>
      <mat-form-field [floatLabel]="'always'">
        <mat-label translate>No. KTP Pemegang Polis</mat-label>
        <input matInput [disabled]="true" [value]="trxSubmission.esubmission.no_ktp" />
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
        <mat-label translate>Nama Pemegang Polis</mat-label>
        <input matInput [disabled]="true" [value]="trxSubmission.esubmission.nama_pempol" />
      </mat-form-field>
      <mat-form-field [floatLabel]="'always'">
        <mat-label translate>Premi</mat-label>
        <input matInput [disabled]="true" [value]="trxSubmission.esubmission.premi" />
      </mat-form-field>
    </mat-card-content>
    <mat-card>
      <div class="expander-container" (click)="toggleTransfer()">
        <mat-radio-button
          style="float: left"
          [checked]="transferMode"
          (click)="toggleTransfer()"
          (focus)="toggleTransfer()"
        ></mat-radio-button>
        <span matLine style="float: left">Transfer</span>
        <mat-icon style="float: right;">keyboard_arrow_right</mat-icon>
      </div>
    </mat-card>
    <mat-card>
      <div class="expander-container" (click)="toggleGoPay()">
        <mat-radio-button
          style="float: left"
          [checked]="!transferMode"
          (click)="toggleGoPay()"
          (focus)="toggleGoPay()"
        ></mat-radio-button>
        <span matLine style="float: left">GoPay</span>
        <mat-icon style="float: right;">expand_more</mat-icon>
      </div>
      <mat-card-content>
        <mat-accordion>
          <mat-expansion-panel [expanded]="expandDisclaimer1Mode">
            <div style="display: inline-block; width: 100%">
              <mat-label translate style="color: rgba(0, 0, 0, 0.54); font-size: 10px">QR Code</mat-label>
              <mat-card style="height: 200px; background-color: white!important;" (click)="onClickCamera()">
                <img
                  src="assets/qrcode.png"
                  width="60%"
                  style="position: absolute; top: 50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%)"
                />
              </mat-card>
            </div>
            <div>
              <mat-form-field [floatLabel]="'always'">
                <mat-label translate>ID Pembayaran *</mat-label>
                <input
                  matInput
                  [value]="paymentData.kode_setor"
                  (input)="paymentData.kode_setor = $event.target.value"
                />
              </mat-form-field>
            </div>
            <div style="display: inline-block; width: 100%">
              <mat-label translate style="color: rgba(0, 0, 0, 0.54); font-size: 10px">Bukti Pembayaran *</mat-label>
              <mat-card style="height: 200px; background-color: white!important;" (click)="onClickCamera()">
                <mat-card-content style="text-align: center">
                  <img
                    src="assets/photo-camera.png"
                    width="10%"
                    style="position: absolute; top: 50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%)"
                  />
                  <img
                    mat-card-lg-image
                    id="receiptImage"
                    [src]="imageSrc"
                    alt=""
                    style="left: 0;right: 0;top: 0;bottom: 0"
                  />
                </mat-card-content>
              </mat-card>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
  <div style="width:100%; text-align: center;  bottom: 0px; padding: 10px; position: fixed">
    <button mat-raised-button color="primary" style="width:100%;" (click)="onClickSubmit()">
      <b translate>Submit</b>
    </button>
  </div>
</div>
