:host {
  //display: flex;
  //flex: 1;
  width: 100%;
}

.form-container {
  margin-top: 10px !important;
}

mat-card {
  margin: 10px;
  background-color: #f49436 !important;
  padding: 0px;
  display: flow-root;
}
mat-card .expand {
  background-color: #f44336;
}

.no-expand {
  background-color: #f49436 !important;
}

mat-card-content {
  padding: 0px;
}
mat-icon {
  color: white;
}
.expander-container {
  width: 100%;
  text-align: right;
  align-content: end;
  display: flow-root !important;
  padding: 10px;
}
.expander-container span {
  color: white;
  top: 0px;
  bottom: 0px;
  display: inline-block;
  line-height: 25px;
}

mat-expansion-panel {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}
::ng-deep .mat-expansion-panel-body {
  padding: 16px !important;
}

mat-form-field {
  margin-top: 10px !important;
  margin-bottom: 0px;
}

mat-radio-button {
  width: 0px !important;
  margin-right: 20px;
}
::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: rgb(255, 253, 253);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  border-color: rgb(255, 253, 253);
  border-color: rgb(255, 253, 253);
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  border-color: rgb(255, 253, 253);
}
