<div>
  <mat-toolbar color="primary" class="mat-elevation-z1">
    <button class="menu-button" mat-icon-button fxHide.gt-sm (click)="onClickBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title" translate>Entry SPAJ</span>
  </mat-toolbar>
  <div matLine class="page-esub-header">
    <div class="block-title first last" (click)="onClickBack()">
      <span class="number">5</span>
      <span>Preview Data</span>
    </div>
    <div class="block-title second last">
      <span class="number">6</span>
      <span>Preview Brosur</span>
    </div>
  </div>
  <div style="margin-bottom: 50px" class="iframe-container">
    <pdf-viewer
      [src]="base64Src"
      [original-size]="true"
      [autoresize]="true"
      [fit-to-page]="true"
      [show-all]="true"
      [render-text]="true"
      style="display: inline;"
    ></pdf-viewer>
  </div>
  <div style="width:100%; text-align: center;  bottom: 0px; padding: 10px; position: fixed">
    <button
      mat-raised-button
      color="primary"
      style="width:100%;"
      *ngIf="trxSubmission.submissionStatus.id == 0"
      (click)="submit()"
    >
      <b translate>{{ trxSubmission.submissionStatus.id == 0 ? 'Submit' : 'Kembali Ke SPAJ' }}</b>
    </button>
  </div>
</div>
