/*
 * Entry point of global application style.
 * Component-specific style should not go here and be included directly as part of the components.
 */

// Theme variables, must be included before the libraries to allow overriding defaults
@import "theme/theme-variables";

// 3rd party libraries
@import "~material-design-icons-iconfont/src/material-design-icons";

// Angular Material custom theme
// The mixins below must be included once so we separated them from the variables
@import "~@angular/material/theming";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($app-theme);

// Theme customization
@import "theme/theme";

mat-toolbar {
  padding: 8px !important;
}

.toolbar-title {
  position: fixed;
  left: 100px;
  right: 100px;
  display: inline-block;
  text-align: center;
}

.page-esub-header {
  display: flex;
}
.page-esub-header .block-title {
  width: 50%;
  font-size: 11px;
}
.block-title.first {
  background-color: #aa2a2d;
  color: white;
  padding: 10px;
  display: inline-block;
  font-weight: bold;
}

.block-title.first.last {
  background-color: grey;
  color: white;
  padding: 10px;
  display: inline-block;
  font-weight: bold;
}

.block-title.first .number {
  color: #aa2a2d;
  background-color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 15px;
  line-height: 23px;
  display: inline-block;
  margin-right: 5px;
}

.block-title.second {
  background-color: grey;
  color: white;
  padding: 10px;
  display: inline-block;
  font-weight: bold;
}

.block-title.second.last {
  background-color: #aa2a2d;
  color: white;
  padding: 10px;
  display: inline-block;
  font-weight: bold;
}

.block-title.second .number {
  color: grey;
  background-color: white;
  width: 20px;
  height: 20px;
  text-align: center;
  border-radius: 15px;
  line-height: 23px;
  display: inline-block;
  margin-right: 5px;
}

.arrow-right {
  width: 0px;
  height: 0px;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #aa2a2d;
  display: inline-block;
}

.form-container {
  margin-top: 10px;
  margin-bottom: 100px;
}

.form-group-header {
  width: 100%;
  padding: 10px;
  background: lightgrey;
  color: black;
  font-weight: bold;
  font-size: 13px;
}
.form-label {
  width: 100%;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: -10px;
  padding-right: 10px;
  font-size: 13px;
  color: dimgray;
}
mat-radio-button {
  width: 100%;
  display: inline-block;
  padding-left: 10px;
  //padding-top: 10px;
  padding-right: 10px;
}
mat-form-field {
  width: 100%;
  display: inline-block;
  padding-left: 10px;
  //padding-top: 10px;
  padding-right: 10px;
}

mat-card-content {
  margin-bottom: 0px !important;
}
.mat-card-lg-image {
  width: 170px !important;
  height: 170px !important;
}
