<div fxFlex>
  <mat-sidenav-container fxFill>
    <mat-sidenav
      #sidenav
      [mode]="isMobile ? 'over' : 'side'"
      [opened]="!isMobile"
      [disableClose]="!isMobile"
      (toggle)="(true)"
      ngClass.gt-sm="has-border"
      style="position: fixed"
    >
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <!--<span translate>APP_NAME</span>-->
          <img class="shell-logo" src="assets/bhinneka_white.png" alt="angular logo" />
          <div fxFlex></div>
          <div>
            <button mat-icon-button (click)="sidenav.toggle()" translate>
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </mat-toolbar-row>
        <mat-toolbar-row style="height: 100px;">
          <img class="round-image" src="assets/profile-avatar.jpeg" />
          <p>
            <span style="font-size: smaller">{{ credentials.username }}</span>
            <br />
            {{ getAgentName() }}
          </p>
        </mat-toolbar-row>
      </mat-toolbar>
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span translate>SPAJ</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="#" (click)="sidenav.close() && logout()">
            <span translate>Keluar</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="#" routerLinkActive="active" (click)="isMobile && sidenav.close()">
            <span mat-list-item mat-line translate style="margin-bottom: 5px">Login Terakhir</span>
            <span mat-line>{{ moment(credentials.created).format('DD-MM-YYYY HH:mm:ss') }}</span>
          </a>
        </mat-list>
      </nav>
      <mat-label
        color="primary"
        style="width:100%;
        text-align: center;
        color: gray; bottom: 20px; position: absolute"
        ><b translate>Versi {{ versionName() }}</b></mat-label
      >
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="mat-elevation-z1" style="position: fixed; z-index: 1;">
        <button class="menu-button" mat-icon-button (click)="sidenav.toggle()" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <!--<span>{{ title }}</span>-->
        <div fxFlex></div>
        <img class="toolbar-logo" src="assets/bhinneka_white.png" alt="angular logo" />
        <div fxFlex></div>
        <button mat-icon-button translate (click)="onClickSearch()">
          <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button translate (click)="onClickFilter()">
          <mat-icon>sort</mat-icon>
        </button>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
