:host {
  display: flex;
  flex: 1;
}

.mat-sidenav {
  min-width: 80%;
  max-width: 28%;
}

.has-border {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-list {
  padding-top: 0;
}

.mat-list-item {
  text-decoration: none;

  &:hover {
    background: rgba(0, 0, 0, 0.05);
  }
}

.menu-button {
  margin-right: 1rem;
}

.shell-logo {
  width: 50%;
  margin: 0 auto;
}

.toolbar-logo {
  width: 30%;
  margin: 0 auto;
}

.round-image {
  width: 75px;
  height: 75px;
  background-size: cover;
  display: block;
  margin-right: 10px;
  border-top-left-radius: 40px;
  -webkit-border-top-left-radius: 40px;
  -moz-border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  -webkit-border-top-right-radius: 40px;
  -moz-border-top-right-radius: 40px;
  border-bottom-left-radius: 40px;
  -webkit-border-bottom-left-radius: 40px;
  -moz-border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  -moz-border-bottom-right-radius: 40px;
}
