<div class="container">
  <mat-card fxFlex="100%">
    <mat-card-content fxFlex="100%">
      <mat-expansion-panel [expanded]="searchMode">
        <div fxLayout="row" fxLayoutAlign="center center" style="width: 100%">
          <input
            matInput
            type="search"
            formControlName="search"
            [placeholder]="'Cari berdasarkan No KTP atau Nama Pemegang Polis' | translate"
            (keydown.enter)="onKeywordEnter($event.target.value)"
            (input)="onSearch($event.target.value)"
            id="search-input"
            #searchInput
          />
        </div>
      </mat-expansion-panel>
      <div>
        <mat-selection-list #link>
          <mat-nav-list *ngIf="trxSubmissions.length > 0">
            <mat-list-item *ngFor="let trxSubmission of trxSubmissions" style="align-items: normal;">
              <div style="top: 8px; right: 8px; position: absolute">
                <div fxFlex></div>
                <button mat-icon-button [matMenuTriggerFor]="userMenu" translate>
                  <mat-icon>more_vert</mat-icon>
                </button>
              </div>

              <div mat-line>
                <p style="margin: 0px!important;">
                  {{ trxSubmission.esubmission.nama ? trxSubmission.esubmission.nama : '-' }}
                </p>
                <mat-menu #userMenu="matMenu">
                  <mat-list *ngIf="isDraft(trxSubmission)">
                    <mat-list-item (click)="onClickEdit(trxSubmission)">
                      <span translate>Edit</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="onClickRemove(trxSubmission)">
                      <span translate>Hapus</span>
                    </mat-list-item>
                  </mat-list>
                  <mat-list *ngIf="isSubmitted(trxSubmission)">
                    <mat-list-item (click)="onClickView(trxSubmission)">
                      <span translate>Lihat</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="onClickRemove(trxSubmission)">
                      <span translate>Hapus</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="onClickPayment(trxSubmission)">
                      <span translate>Bayar</span>
                    </mat-list-item>
                  </mat-list>
                  <mat-list *ngIf="isPaid(trxSubmission)">
                    <mat-list-item (click)="onClickView(trxSubmission)">
                      <span translate>Lihat</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="onClickRemove(trxSubmission)">
                      <span translate>Hapus</span>
                    </mat-list-item>
                  </mat-list>
                  <mat-list *ngIf="isOtherStatus(trxSubmission)">
                    <mat-list-item (click)="onClickView(trxSubmission)">
                      <span translate>Lihat</span>
                    </mat-list-item>
                    <mat-divider></mat-divider>
                    <mat-list-item (click)="onClickRemove(trxSubmission)">
                      <span translate>Hapus</span>
                    </mat-list-item>
                  </mat-list>
                </mat-menu>
              </div>
              <p mat-line>{{ trxSubmission.spajNo }}</p>
              <p mat-line>{{ trxSubmission.esubmission.produk ? trxSubmission.esubmission.produk : '-' }}</p>
              <p mat-line>
                {{
                  trxSubmission.esubmission.pilihan_paket
                    ? trxSubmission.esubmission.pilihan_paket +
                      ' - ' +
                      (trxSubmission.esubmission.premi | currency: 'IDR':'Rp. ')
                    : '-'
                }}
              </p>
              <div mat-line>
                {{ trxSubmission.created | date: 'dd-MM-yyyy HH:mm:ss' }}
                <div fxFlex></div>
                <button
                  style=" border-radius: 50px; height: 35px; font-size: 12px; font-weight: bold; text-align: center"
                  color="primary"
                  mat-raised-button
                >
                  {{ trxSubmission.submissionStatus ? trxSubmission.submissionStatus.label : '-' }}
                </button>
              </div>
              <mat-divider></mat-divider>
            </mat-list-item>
          </mat-nav-list>
        </mat-selection-list>
      </div>
      <div
        *ngIf="trxSubmissions.length == 0"
        style="width: 100%; padding-top:75%; text-align: center; top: 0; bottom: 0; position: relative; background-color: white"
      >
        <span style="width:100%;height:100%; display: block">
          Tidak ada data
          <!-- Belum ada esubmission tersimpan ! -->
        </span>
      </div>
    </mat-card-content>
  </mat-card>
  <button
    mat-fab
    color="primary"
    id="add-button"
    matTooltip="Add customer"
    style="position: fixed"
    (click)="onClickFab()"
  >
    <i class="material-icons">add</i>
  </button>
</div>
