.container {
  padding: 0em;
  margin-top: 55px;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.customer-img {
  //height:30px;
  //width:30px;
  //margin-left:-32px;
}
.customer-names {
  //padding-left:13px;
  padding-top: 1px;
}
.mat-selection-list {
  position: relative;
  //margin-top: -20.5px;
  width: 100%;
  //height:80vh;
}
.customer-names:hover {
  color: #aa3c9f;
}
::ng-deep.mat-pseudo-checkbox {
  display: none !important;
}
.mat-list {
  flex-grow: 1;
  overflow: auto;
}
.mat-list-item {
  cursor: pointer;
}
.mat-card {
  padding: 0px;
}
.mat-list-base {
  padding-top: 0px !important;
}
.mat-list-item-content {
  align-items: start !important;
}
mat-list-item {
  padding: 0px !important;
}

#add-button {
  right: 20px;
  bottom: 10px;
  left: auto;
  position: absolute;
}

.mat-expansion-panel {
  background: orange;
  position: fixed;
  z-index: 1;
  width: 100%;
}
.mat-form-field {
  padding: 0px;
  width: 100%;
}
#search-input {
  width: 100%;
}

input {
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  outline: none;
  padding: 6px 16px;
  width: 100%;
  font-size: 16px;
  line-height: 34px;
  margin-top: 20px;
  background: white;
}
