<div>
  <mat-toolbar
    color="primary"
    class="mat-elevation-z1"
    style="position: fixed; position:relative; display: inline-block;"
  >
    <button class="menu-button" mat-icon-button fxHide.gt-sm (click)="onClickBack()">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span class="toolbar-title" translate>Entry SPAJ</span>
  </mat-toolbar>
  <div matLine class="page-esub-header">
    <div class="block-title first" (click)="onClickBack()">
      <span class="number">2</span>
      <span>Pemegang Polis</span>
    </div>
    <div class="block-title second" (click)="onClickNext()">
      <span class="number">3</span>
      <span>Tertanggung</span>
    </div>
  </div>
  <form (ngSubmit)="onClickNext()" [formGroup]="polisHolderForm" novalidate>
    <div class="form-container">
      <div class="form-group-header" translate>
        Pemegang Polis
      </div>
      <mat-card-content>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>No KTP</mat-label>
          <input
            matInput
            formControlName="spajNo"
            [value]="esubmission.no_ktp"
            [(ngModel)]="esubmission.no_ktp"
            type="number"
            (input)="onEditKtpNumber($event.target.value)"
            required
          />
          <mat-error *ngIf="polisHolderForm.controls.spajNo.invalid && polisHolderForm.controls.spajNo.touched">
            <span translate>No KTP harus diisi</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Nama</mat-label>
          <input
            matInput
            formControlName="name"
            [value]="esubmission.nama"
            type="text"
            [(ngModel)]="esubmission.nama"
            (input)="update()"
            onlyAlphabet
            required
          />
          <mat-error *ngIf="polisHolderForm.controls.name.invalid && polisHolderForm.controls.name.touched">
            <span translate>{{
              polisHolderForm.controls.name.hasError('pattern')
                ? 'Nama tidak boleh mengandung karakter non alphabet'
                : 'Nama harus diisi'
            }}</span>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <div class="form-group-header" translate>
        Domisili
      </div>
      <mat-card-content>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Alamat</mat-label>
          <input
            matInput
            formControlName="address"
            [value]="esubmission.alamat"
            [(ngModel)]="esubmission.alamat"
            (input)="update()"
            required
          />
          <mat-error *ngIf="polisHolderForm.controls.address.invalid && polisHolderForm.controls.address.touched">
            <span translate>Alamat harus diisi</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Propinsi</mat-label>
          <mat-select
            [(ngModel)]="esubmission.propinsi"
            [value]="esubmission.propinsi"
            (selectionChange)="onClickProvince($event.value); update()"
            [placeholder]="'Pilih Propinsi' | translate"
            formControlName="provinceSelect"
            #provinceSelect
            required
          >
            <mat-option *ngFor="let province of provinces" [value]="province.nama_propinsi">{{
              province.nama_propinsi
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="polisHolderForm.controls.provinceSelect.invalid">
            <span translate>Propinsi harus diisi</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Kota</mat-label>
          <mat-select
            [(ngModel)]="esubmission.kota"
            [value]="esubmission.kota"
            (selectionChange)="onClickCity($event.value); update()"
            [placeholder]="'Pilih Kota' | translate"
            #citySelect
            formControlName="citySelect"
            required
          >
            <mat-option *ngFor="let city of cities" [value]="city.nama_kota">{{ city.nama_kota }}</mat-option>
          </mat-select>
          <mat-error *ngIf="polisHolderForm.controls.citySelect.invalid">
            <span translate>Kota harus diisi</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Kecamatan</mat-label>
          <mat-select
            [(ngModel)]="esubmission.kecamatan"
            [value]="esubmission.kecamatan"
            (selectionChange)="onClickDistrict($event.value); update()"
            [placeholder]="'Pilih Kecamatan' | translate"
            #districtSelect
            formControlName="districtSelect"
            required
          >
            <mat-option *ngFor="let district of districts" [value]="district.nama_kecamatan">{{
              district.nama_kecamatan
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="polisHolderForm.controls.districtSelect.invalid">
            <span translate>Kecamatan harus diisi</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Kelurahan</mat-label>
          <mat-select
            [(ngModel)]="esubmission.kelurahan"
            [value]="esubmission.kelurahan"
            [placeholder]="'Pilih Kelurahan' | translate"
            (selectionChange)="update()"
            #villageSelect
            formControlName="villageSelect"
            required
          >
            <mat-option *ngFor="let village of villages" [value]="village.nama_kelurahan">{{
              village.nama_kelurahan
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="polisHolderForm.controls.villageSelect.invalid">
            <span translate>Kelurahan harus diisi</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Kode Pos</mat-label>
          <input
            matInput
            formControlName="postalCode"
            [value]="esubmission.kode_pos"
            [(ngModel)]="esubmission.kode_pos"
            (input)="onEditPostalCode($event.target.value)"
            type="number"
            maxlength="5"
            required
          />
          <mat-error *ngIf="polisHolderForm.controls.postalCode.invalid">
            <span translate>Kode pos harus mengandung karakter 5 angka</span>
          </mat-error>
        </mat-form-field>
      </mat-card-content>
      <div class="form-group-header" translate>
        Data Personal
      </div>
      <mat-card-content>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>No Handphone</mat-label>
          <input
            matInput
            formControlName="mobilePhone"
            [value]="esubmission.no_hp"
            [(ngModel)]="esubmission.no_hp"
            (input)="onEditNoHandphone($event.target.value)"
            type="number"
          />
          <mat-error
            *ngIf="
              (polisHolderForm.controls.mobilePhone.invalid && polisHolderForm.controls.mobilePhone.touched) ||
              polisHolderForm.hasError('invalidMobilePhone')
            "
          >
            <span translate>No Handphone harus diisi</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Email</mat-label>
          <input
            matInput
            formControlName="email"
            [value]="esubmission.epolicy_email"
            [(ngModel)]="esubmission.epolicy_email"
            (input)="update()"
          />
          <mat-error *ngIf="polisHolderForm.controls.email.invalid && polisHolderForm.controls.email.touched">
            <span translate>Format email tidak sesuai</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Pilih Pekerjaan</mat-label>
          <mat-select
            [(ngModel)]="esubmission.pekerjaan"
            [value]="esubmission.pekerjaan"
            [placeholder]="'Pekerjaan' | translate"
            (selectionChange)="update()"
            #jobSelect
            formControlName="jobSelect"
          >
            <mat-option *ngFor="let job of jobs" [value]="job">
              {{ job }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="polisHolderForm.controls.jobSelect.invalid">
            <span translate>Pekerjaan harus diisi</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field [floatLabel]="'always'">
          <mat-label translate>Penghasilan Pertahun</mat-label>
          <input
            matInput
            formControlName="yearlyIncome"
            [value]="esubmission.penghasilan_per_tahun"
            [(ngModel)]="esubmission.penghasilan_per_tahun"
            (input)="onEditYearlyIncome($event.target.value)"
            type="number"
          />
          <mat-error
            *ngIf="polisHolderForm.controls.yearlyIncome.invalid && polisHolderForm.controls.yearlyIncome.touched"
          >
            <span translate>Penghasilan per tahun harus diisi</span>
          </mat-error>
        </mat-form-field>
        <div style="margin-left: 10px; margin-right: 10px;">
          <mat-label translate style="color: rgba(0, 0, 0, 0.54); font-size: 10px">Foto KTP *</mat-label>
          <mat-card style="height: 200px; background: white" (click)="onClickCamera()">
            <mat-card-content style="text-align: center">
              <img
                src="assets/photo-camera.png"
                width="10%"
                style="position: absolute; top: 50%;left: 50%; margin-right: -50%; transform: translate(-50%, -50%)"
              />
              <img
                mat-card-lg-image
                id="ktpImage"
                alt=""
                [src]="imageSrc ? imageSrc : null"
                style="left: 0;right: 0;top: 0;bottom: 0"
              />
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </div>
    <div style="width:100%; text-align: center;  bottom: 0px; padding: 10px; position: fixed">
      <button mat-raised-button color="primary" style="width:100%;" type="submit" [disabled]="polisHolderForm.invalid">
        <b translate>Selanjutnya</b>
      </button>
    </div>
  </form>
</div>
