.form-container {
  margin-top: 0px !important;
}
.form-group-header {
  margin-bottom: 10px !important;
}

//img[alt]:after {
//  display: block;
//  position: absolute;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  background-color: #fff;
//  font-family: 'Helvetica';
//  font-weight: 300;
//  line-height: 2;
//  text-align: center;
//  content: attr(alt);
//}
